#{
    padding: 0;
    margin: 0;

}
.background{
    background: url(../img/photo-1562774053-701939374585.jfif ) no-repeat;
    background-size: cover;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    opacity: .85;
    transition: opcity .5c ease-in-out;


}
.main{
    z-index: 2;
}
.navbar{
    height: 50px;
    width: 100%;
    background: rgba(0,0,0,0.4);

}
.logo{
    width: 50px;
    height: 50px;
    padding: 0px 40px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 8px;
    display: inline-block;
    line-height: 10px;
}
.navbar ul li a{
    text-decoration: aliceblue;
    color:cornsilk;
    font-size: 20px;
    padding: 6px 13px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
    background: grey;
    border-radius: 1px;
}
